@model backEndCapstone.Models.CharacterClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CharacterClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubClass.SubClassDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CharacterClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
