@model IEnumerable<backEndCapstone.Models.CharacterClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassFeatures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassFeatures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubClass.SubClassName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
