@model IEnumerable<backEndCapstone.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Characters</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>@foreach (var item in Model) {
        <tr class="card">
            <td>
                Name:
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                Class:
                @Html.DisplayFor(modelItem => item.characterClasses.ClassName)
            </td>
            <td>
                Race:
                @Html.DisplayFor(modelItem => item.Race.RaceType)
            </td>
            <td>
                Alignment:
                @Html.DisplayFor(modelItem => item.Alignment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
